// Place all the styles related to the admin::posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.posts {
  background-color: $white;
  .editor-top {
    border-bottom: 1px solid $gray-200;
  }
  .editor-input {
    width: 100%;
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
    border: 0;
    font-size: 2rem;
    color: $gray-800;
    text-align: center;
    &:focus {
      outline: 0;
    }
  }
  .editor-nav {
    margin-top: -55px;
    z-index: 1111;
    position: fixed;
  }
  .editor-select-volume {
    border: 0;
    color: $gray-500;
    background-color: $white;
  }
  .editor-submit {
    position: fixed;
    right: 1rem;
    z-index: 1111;
    top: 0.75rem;
  }
  .editor-infos {
    position: fixed;
    right: 10%;
    top: 0.75rem;
    z-index: 11111;
    .custom-control-description {
      line-height: 35px;
    }
  }
}
.editor-title {
  border-bottom: 1px solid $gray-300;
  padding: 1.5rem 0;
}
.editor-content {
  outline: none;
  padding: 30px;
  color: $gray-800;
  p {
    font-size: 17px;
    line-height: 1.5rem;
  }
  h2, h3, h4, p {
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  &:focus {
    outline: none;
  }
}
