.row
  .col-md-8.col-md-offset-2
    .row
      .col-md-4
        = link_to new_admin_book_path do
          .book-card.book-card-new
            %span.plus.plus-row
            %span.plus.plus-col
      - @books.each do |book|
        .col-md-4
          = link_to admin_book_path(book) do
            .book-card
              %h3.book-card-title= book.title
              %p.book-card-description= book.description
