.row
  .col-md-8.col-md-offset-2
    .page-header
      %h1 新增书籍
    = form_for @book, :url => admin_books_path do |f|
      = render :partial => "form", :locals => {:f => f}
      = link_to "取消", admin_books_path, :class => "btn btn-default"
