.container.mt-4
  - if @author
    - if @author.status == 2
      .alert.alert-success
        欢迎您，
        = @author.name
        %button.close{"data-dismiss" => "alert", "aria-label" => "Close"}
          %span{"aria-hidden" => "true"}
            %i.fa.fa-times
    - elsif @author.status == 3
      .alert.alert-danger
        您的个人信息没有审核通过，暂时无法使用其他功能！
    - else
      .alert.alert-warning
        个人信息提交审核中
    = link_to "修改个人信息", edit_manage_author_path(@author), :class => "btn btn-warning btn-lg"
  - else
    = link_to "完善个人信息", new_manage_author_path, :class => "btn btn-danger btn-lg"
