.alert.alert-success
  %span.icon-checkmark.mr-2
  Alert Success!
  %button.close{"data-dismiss" => "alert", "aria-label" => "Close"}
    %span.icon-close{"aria-hidden" => "true"}
.alert.alert-warning
  %span.icon-warning.mr-2
  Alert Warning!
  %button.close{"data-dismiss" => "alert", "aria-label" => "Close"}
    %span.icon-close{"aria-hidden" => "true"}
.alert.alert-danger
  %span.icon-cancel.mr-2
  Alert Danger!
  %button.close{"data-dismiss" => "alert", "aria-label" => "Close"}
    %span.icon-close{"aria-hidden" => "true"}


