.container
  .jumbotron.mt-5
    %h1 Hello World!
    %hr
    %p.lead.mt-4
      - if current_user
        = link_to "Dashboard", admin_dashboard_path, :class => "btn btn-primary btn-lg"
      - else
        = link_to "登陆", new_user_session_path, :class => "btn btn-primary btn-lg"