%nav.navbar.navbar-light.bg-white.nav-expand-lg.fixed-top.editor-top
  = link_to admin_dashboard_path, :class => "navbar-brand" do
    = image_tag "logo.svg", :width => "30", :height => "30", :class => "d-inline-block align-top"
    Demo
= form_for @post, :url => admin_book_post_path(@book, @post) do |f|
  = render :partial => "form", :locals => {:f => f}
