html, body {
  height: 100%;
}
body.admin {
  display: flex;
  flex-direction: column;
}
*{
  transition: all .15s linear;
}
.flex-1 {
  flex: 1;
}
.nav-item {
  margin: 0 0.5rem;
}
.shadow {
  box-shadow: 0 1px 2px $gray-200;
}

//toggle-input
.custom-toggle-indicator{
  width: 64px;
  height: 30px;
  border-radius: 15px!important;
  position: relative;
}
.custom-toggle-indicator:after {
  content: "";
  width: 26px;
  height: 26px;
  border-radius: 50%;
  position: absolute;
  left: 2px;
  top: 2px;
  background-color: #ccc;
  transition: all .25s linear;
}
.custom-control-description {
  line-height: 40px;
  margin-left: 5px;
  vertical-align: bottom;
}
.custom-control-input:checked ~.custom-toggle-indicator {
  background-image: none!important;
}
.custom-control-input:checked ~.custom-toggle-indicator:after {
  margin-left: 34px;
  background-color: #fff;
}
/*
.input-group {
  position: relative;
  margin-bottom: 40px;
}
.input-label {
  position: absolute;
  left: 4px;
  top: 8px;
  z-index: 3333;
  transition: all .25s linear;
  color: #ccc;
}
.input-group .form-control {
  border-width: 0 0 1px 0;
  border-radius: 0;
  position: relative;
}
.input-group .form-group-focus {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: $primary;
  transition: width .25s linear;
  display: inline-block;
  z-index: 22222;
}
.input-group .form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}
.input-group .form-control:focus ~ .form-group-focus {
  width: 100%;
}
.input-group .form-control:focus ~ .input-label, .form-control:valid ~ .input-label {
  font-size: 14px;
  color: #ccc;
  margin-top: -30px;
}
.input-group .form-control:focus ~ .input-label {
  color: $primary;
}
*/

//card tab
.card-header {
  border-bottom: 1px solid $gray-200;
}
.card-header-tabs {
  .nav-link.active {
    border-top: 2px solid $primary;
    margin-top: -1px;
  }
}

//menu-bar
.dropdown-menu {
  box-shadow: 0 1px 15px 1px rgba($gray-300, 0.5);
}
