@keyframes fadeInOut {
  0%{
    opacity: 0;
    transform: translate3d(0, 50%, 0); 
  } 
  20%, 80%{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
    display: none;
  }
}
@keyframes fadeIn(){
  0% {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0,);
  }
}

@keyframes fadeUp(){
  0% {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
