//books index
.book-blank-slate {
  height: calc(100vh - 150px); 
}
.book-card {
  height: 15rem;
  transition: box-shadow 0.25s linear;
  box-shadow: 0 1px 2px $gray-200;
}
.book-card:hover{
  text-decoration: none;
  box-shadow: 0 1px 12px 2px rgba($gray-400, .2);
  a {
    text-decoration: none;
  }
}
.card-book-plus {
  width: 100px;
  height: 100px;
  position: relative;
  display: inline-block;
  .plus-col, .plus-row {
    display: inline-block;
    position: absolute;
    background-color: $gray-200;
  }
  .plus-col {
    width: 5px;
    height: 100px;
    left: 47.5px;
    top: 0;
  }
  .plus-row {
    height: 5px;
    width: 100px;
    left: 0;
    top: 47.5px;
  }
}
.nav-item.plus-i {
  a {
    padding: 4px 8px;
    text-align: center;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 3px;
  }
  &:hover a{
    border: 1px solid $gray-300;
  }
}

//books show
.nav-slide-controls {
  position: absolute;
  right: 0;
  padding: 0.5rem 0;
  i {
    padding: 0 0.5rem;
    color: $primary;
    font-weight: 600;
  }

}
.sortable-placeholder {
  list-style: none;
  height: 50px;
  background-color: $gray-100;
}
$init-width: 15px;
.close-icon {
  position: absolute;
  width: $init-width;
  height: $init-width;
  display: inline-block;
  left: -$init-width/2;
  top: -$init-width/2;
  background-color: #ccc;
  border-radius: 50%;
  opacity: 0;
  &::before, &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 60%;
    top: 50%;
    left: 20%;
    margin-top: -1px;
    background: #fff;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}
.volume-list .nav-item:hover, .book-card:hover {
  .close-icon {
    transform: scale(1.4, 1.4);
    opacity: 1;
  }
}
.list-group-item {
  border-left: 0;
  border-right: 0;
  padding-left: 0;
}
.post-handle {
  cursor: move;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  margin: 3px 0 -20px 0;
  &:after, &:before {
    content: "";
    display: inline-block;
    background-color: $gray-200;
    width: 2px;
    height: 100%;
    top: 0;
    position: absolute;
  }
  &:after {
    left: 5px; 
  }
  &:before {
    left: 12px;
  }
}
.book-side-form {
  position: fixed;
  background-color: #fff;
  right: 0;
  height: 100%;
  top: 0;
  box-shadow: -3px 10px 8px $gray-200;
  z-index: 111;
  transform: translateX(400px);
  opacity: 0;
  transition: all 0.3s linear;
  overflow-y: auto;
}
.book-side-form.on {
  transform: translateX(0);
  opacity: 1;
  transition: all 0.3s linear;
}
