html, body {
  height: 100%;
}
.flex-1 {
  flex: 1;
}
.w-40 {
  width: 40%;
}
.w-60 {
  width: 60%;
}
.nav-item {
  margin: 0 0.5rem;
}
.shadow {
  box-shadow: 0 1px 2px $gray-200;
}
.f-1x {
  font-size: 1rem!important;
}

//icon-svg
svg.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

//toggle-input
.custom-checkbox .custom-toggle-label:before {
  width: 64px;
  height: 30px;
  border-radius: 15px;
  position: relative;
  left: 0;
  top: 0;
  float: left;
  margin-right: 10px;
}
.custom-checkbox .custom-toggle-label:after {
  content: "";
  width: 26px;
  height: 26px;
  border-radius: 50%;
  position: absolute;
  left: 2px;
  top: 2px;
  background-color: #ccc;
  transition: all .25s linear;
}
.custom-checkbox .custom-toggle-label {
  line-height: 40px;
  margin-left: 5px;
  vertical-align: bottom;
  line-height: 30px;
}
.custom-checkbox .custom-control-input:checked ~.custom-toggle-label:after {
  background-image: none!important;
  margin-left: 34px;
  background-color: #fff;
}

// input
.input-group {
  position: relative;
  margin-bottom: 2.5rem;
}
.input-label {
  position: absolute;
  left: 4px;
  top: 8px;
  z-index: 3333;
  transition: all .25s linear;
  color: #ccc;
}
.form-control {
  border-width: 0 0 1px 0;
  border-radius: 0;
  position: relative;
}
.form-group-focus {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: $primary;
  transition: width .25s linear;
  display: inline-block;
  z-index: 22222;
}
.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}
.form-control:focus ~ .form-group-focus {
  width: 100%;
}
.form-control:focus ~ .input-label, .form-control:valid ~ .input-label {
  font-size: 14px;
  color: #ccc;
  margin-top: -25px;
}
.form-control:focus ~ .input-label {
  color: $primary;
}

//card tab
.card-header {
  border-bottom: 1px solid $gray-200;
}
.card-header-tabs {
  height: 41px;
  .nav-link {
    max-width: 8em;
  }
  .nav-link.active {
    border-top: 2px solid $primary;
    margin-top: -1px;
    max-width: 100%;
  }
}

//menu-bar
.dropdown-menu {
  box-shadow: 0 1px 15px 1px rgba($gray-300, 0.5);
  //animation: fadeIn 0.35s ease-in-out;
}
.dropdown-menu.show {
  animation: fadeIn 0.35s ease-in-out;
}

//alert
.alert-float {
  animation: fadeInOut 4s ease-in-out;
  animation-fill-mode: forwards; 
  border: 0;
  border-left: 3px solid transparent;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.navbar-brand {
  font-size: 1.5rem;
}
.logo-fixed {
  background-color: $white;
  left: 1rem;
  top: 0.5rem;
  position: fixed;
  padding: 0.5rem;
}
.sidebar {
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  top: 51px;
  left: 0;
  bottom: 0;
  //box-shadow: 0 15px 15px $gray-400;
}
