$line-color: #ddd;
$header-height: 40px;
$notice-width: 200px;
$sidebar-width: 150px;
$avatar-width: 50px;
$text-color: #666;
$link-color: #999;
$book-card-height: 230px;
body, html {
  height: 100%;
}
body {
  padding-top: $header-height + 20px;
}
a {
  color: $link-color;
}
a:hover, a:visited {
  text-decoration: none;
}
