@font-face {
  font-family: 'icomoon';
  src:  asset-url('icomoon.eot?szoamy');
  src:  asset-url('icomoon.eot?szoamy#iefix') format('embedded-opentype'),
    asset-url('icomoon.ttf?szoamy') format('truetype'),
    asset-url('icomoon.woff?szoamy') format('woff'),
    asset-url('icomoon.svg?szoamy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-pen:before {
  content: "\e904";
}
.icon-note:before {
  content: "\e905";
}
.icon-wallet:before {
  content: "\e90b";
}
.icon-warning:before {
  content: "\e900";
}
.icon-checkmark:before {
  content: "\e901";
}
.icon-cancel:before {
  content: "\e902";
}
.icon-archive:before {
  content: "\e907";
}
.icon-diamond:before {
  content: "\e908";
}
.icon-bookmark:before {
  content: "\e909";
}
.icon-book:before {
  content: "\e903";
}
.icon-keyboard:before {
  content: "\e90a";
}
.icon-calendar:before {
  content: "\f068";
}
.icon-cloud-download:before {
  content: "\f00b";
}
.icon-cloud-upload:before {
  content: "\f00c";
}
.icon-pencil:before {
  content: "\f058";
}
.icon-repo-pull:before {
  content: "\f006";
}
.icon-repo-push:before {
  content: "\f005";
}
.icon-sign-out:before {
  content: "\f032";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-quill:before {
  content: "\e90c";
}
.icon-user:before {
  content: "\e971";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-exit:before {
  content: "\ea14";
}
